Windows Registry Editor Version 5.00

[HKEY_CLASSES_ROOT\QGIS Project]
@="QGIS Project"

[HKEY_CLASSES_ROOT\QGIS Project\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qgs.ico"

[HKEY_CLASSES_ROOT\QGIS Project\Shell]

[HKEY_CLASSES_ROOT\QGIS Project\Shell\open]
@=""

[HKEY_CLASSES_ROOT\QGIS Project\Shell\open\command]
@="\"@osgeo4w@\\bin\\@package@.bat\" \"%1\""

[HKEY_CLASSES_ROOT\.qgs]
@="QGIS Project"

[HKEY_CLASSES_ROOT\.qgz]
@="QGIS Project"

[HKEY_CLASSES_ROOT\QGIS Composer Template]
@="QGIS Composer Template"

[HKEY_CLASSES_ROOT\QGIS Composer Template\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qpt.ico"

[HKEY_CLASSES_ROOT\.qpt]
@="QGIS Composer Template"

[HKEY_CLASSES_ROOT\QGIS Layer Settings]
@="QGIS Layer Settings"

[HKEY_CLASSES_ROOT\QGIS Layer Settings\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qml.ico"

[HKEY_CLASSES_ROOT\.qml]
@="QGIS Layer Settings"

[HKEY_CLASSES_ROOT\QGIS Layer Definition]
@="QGIS Layer Definition"

[HKEY_CLASSES_ROOT\QGIS Layer Definition\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis-qlr.ico"

[HKEY_CLASSES_ROOT\.qlr]
@="QGIS Layer Definition"
