Windows Registry Editor Version 5.00

[HKEY_CLASSES_ROOT\QGIS Project]
@="QGIS Project"

[HKEY_CLASSES_ROOT\QGIS Project\DefaultIcon]
@="@osgeo4w@\\apps\\@package@\\icons\\qgis.ico"

[HKEY_CLASSES_ROOT\QGIS Project\Shell]

[HKEY_CLASSES_ROOT\QGIS Project\Shell\open]
@=""

[HKEY_CLASSES_ROOT\QGIS Project\Shell\open\command]
@="\"@osgeo4w@\\bin\\@package@.bat\" \"%1\""

[HKEY_CLASSES_ROOT\.qgs]
@="QGIS Project"

