Windows Registry Editor Version 5.00

[HKEY_CLASSES_ROOT\Quantum GIS Project]
@="Quantum GIS Project"

[HKEY_CLASSES_ROOT\Quantum GIS Project\DefaultIcon]
@="@osgeo4w@\\apps\\qgis-unstable\\icons\\qgis.ico"

[HKEY_CLASSES_ROOT\Quantum GIS Project\Shell]

[HKEY_CLASSES_ROOT\Quantum GIS Project\Shell\open]
@=""

[HKEY_CLASSES_ROOT\Quantum GIS Project\Shell\open\command]
@="\"@osgeo4w@\\bin\\qgis-unstable.bat\" \"%1\""

[HKEY_CLASSES_ROOT\.qgs]
@="Quantum GIS Project"

