/* Apache Forrest CSS */
    body {
      background-color: white;
      font-family: arial, helvetica, sans-serif;
      margin: 0px;
      padding: 0px;
    }
    form {
      padding: 0px;
      margin: 0px;
    }
    a:link {
      color: #0F3660;
    }
    a:visited {
      color: #009999;
    }
    a:active {
      color: #000066;
    }
    a:hover {
      color: #000066;
    }
    .textonly {
      display: none;
    }
    #toplinks {
      font-size: 70%;
      left: 15em;
      position: absolute;
      top: 119px;
    }
    a.toplink {
      text-decoration: none;
    }
    body>#toplinks {
      padding-bottom: 0em;
    }
    #mainheader {
      background-color: white;
      border-bottom: 11px solid #ABC;
      height: 100px;
      text-align: center;
      white-space: nowrap;
    }
    #grouplogolink {
      display: block;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 288px;
    }
    #grouplogolink/* Hide from Mac IE 5 */ {
      display: inline;
      float: left;
      left: auto;
      margin-top: 2px;
      position: relative;
      top: auto;
      width: auto;
    }
    #grouplogo {
      border: 0px;
    }
    #projectlogo {
      border: 0px;
    }
    #search {
      background: #F3F6FF;
      border: 0px;
      border-bottom: 10px solid #ABC;
      border-top: 10px solid #ABC;
      display: block;
      margin: 0px;
      padding: 10px;
      padding-right: 0px;
      padding-top: 5px;
      position: absolute;
      right: 10px;
      text-align: left;
      width: 150px;
      top: 22px;
      voice-family: "\"}\"";
      voice-family: inherit;
      top: 0px;
    }
    #mainheader>#search/* Hide from Mac IE 5 */ {
      float: right;
      margin-right: 10px;
      min-width: 130px;
      padding-right: 10px;
      position: static;
      right: auto;
      top: auto;
      width: auto;
    }
    #search * {
      border: 0px !important;
      font-size: 70%;
    }
    .searchtext {
      color: black;
      display: block;
      font-size: 100%;
    }
    .query {
      width: 8.5em;
    }
    #content {
      background: white url('skins/krysalis/content-background.png') repeat-x top;
      padding-bottom: 1em;
      padding-left: 12em;
      padding-right: 10px;
      padding-top: 30px;
      voice-family: "\"}\"";
      voice-family: inherit;
      padding-left: 10.5em;
    }
    body>#content { /* Be nice to Opera */
      padding-left: 10.5em;
    }
    #content * {
      position: relative;
      z-index: 2;
    }
    #content h1 {
      font-size: 125%;
    }
    #content h2 {
      font-size: 100%;
    }
    #content h3 {
      font-size: 80%;
    }
    #content p {
      font-size: 80%;
    }
    #content em {
      font-style: normal;
      font-weight: bold;
    }
    #content li {
      font-size: 70%;
      list-style-type: none;
    }
    #content li li {
      font-size: 100%;
    }
    #content .author {
      display: block;
      font-size: 70%;
      text-align: right;
    }
    #printable {
      display: block;
      font-size: 70%;
      float: right;
      margin-right: 3em;
      margin-top: 1em;
      position: relative;
      text-align: center;
      width: 6em;
    }
    #printable/* Hide from Mac IE 5.x */ {
      width: 5.5em;
    }
    #printable img {
      border: 0px;
      display: block;
    }
    #printable>img/* Hide from Mac IE 5.x */ {
      display: inline;
    }
    #nav {
      border-bottom: 10px solid #ABC;
      left: 10px;
      padding-top: 10px;
      position: absolute;
      top: 70px;
      z-index: 1;
    }
    #nav/* Hide from Mac IE 5.x */ {
      top: 70px;
    }
    #categories {
      border-bottom: 10px solid #ABC;
      font-size: 70%;
      height: 1.75em;
      margin: 0px;
      padding: 0px;
      position: relative;
      z-index: 1;
    }
    .category {
      display: block;
      float: left;
      margin: 0em;
      margin-right: 0.3em;
      padding-right: 0.2em;
      padding-left: 0.5em;
      text-align: center;
    }
    .category/* Hide from Mac IE 5.x */ {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    span.category {
      background: #ABC;
      color: #F3F6FF;
      font-weight: normal;
      padding-bottom: 0.5em;
      padding-top: 0.3em;
    }
    a.category {
      background: #F3F6FF;
      border: 1px solid #ABC;
      border-bottom: 0px;
      font-weight: normal;
      padding-top: 0.15em;
      margin-top: 0.5em;
    }
    .navsection {
      background: #F3F6FF;
      border-left: 1px solid #ABC;
      border-right: 1px solid #ABC;
      display: block;
      font-size: 70%;
      margin: 0px;
      padding-bottom: 0.1em;
      padding-left: 15px;
      padding-top: 0.3em;
      width: 11em;
      voice-family: "\"}\"";
      voice-family: inherit;
      width: 10.5em;
    }
    #nav>.navsection { /* Be nice to Opera */
      width: 10.5em;
    }
    .navsectionheader {
      color: black;
      font-size: 100%;
      margin: 0px;
      padding-left: 7px;
    }
    .navsectionheader/* Hide from Mac IE 5.x */ {
      font-size: 90%;
    }
    .navitem {
      display: block;
      margin-left: 0px;
      margin-bottom: 0.2em;
      padding-left: 15px;
    }
    .navsection>.navitem {
      display: list-item;
      margin-left: 15px;
      padding-left: 0px;
    }
    span.navitem {
      background: url('skins/default/navbullet-selected.png') no-repeat center left;
      color: #FFCC00;
    }
    .navsection>span.navitem {
      background: inherit;
      list-style-type: disc;
    }
    a.navitem {
      background: url('skins/default/navbullet.png') no-repeat center left;
      color: black;
      list-style-type: circle;
      text-decoration: none;
    }
    .navsection>a.navitem {
      background: inherit;
      list-style-type: circle;
    }
    a.navitem:visited {
      color: white;
    }
    a.navitem:hover {
      color: #009966;
    }
    .navsection>a.navitem:hover {
      background: inherit;
    }
    #footer {
      background-color: #ABC;
      font-size: 70%;
      padding-bottom: 5px;
      padding-top: 3px;
      text-align: center;
    }
    #revision:before {
      content: " -- "
    }
    #validation {
      display: block;
      margin-top: 5px;
      text-align: right;
    }
    #validation img {
      border: 0px;
    }

    .extratab {
      display: none;
    }
