*-stamp
*.*~
*.autosave
*.aux
*.bak
*.diff
*.gpkg-shm
*.gpkg-wal
*.log*
*.orig
*.out
*.prepare
*.pro.user
*.py.temp
*.pyc
*.sortinc
*.stash
*.tex
*.tmp
*.toc
*~
.*.swp
.DS_Store
.cache/
.gdb_history
.idea
.kdev4/
.project
.pydevproject
.venv
.vscode
.vs
.devcontainer
.worktrees
CMakePresets.json
/CMakeLists.txt.user
/CMakeLists.txt.user.*
/build*
Makefile
Testing/*
Thumb.db
api_doc
compile_commands.json
debian/*.debhelper
debian/*.substvars
debian/qgis.sh
desktop.ini
doc/INSTALL.tex
i18n/*.qm
ms-windows/*.exe*
ms-windows/Installer-Files/postinstall.bat
ms-windows/Installer-Files/preremove.bat
ms-windows/nsis/
ms-windows/osgeo4w/addons/
ms-windows/osgeo4w/binary-*
ms-windows/osgeo4w/build-*
ms-windows/osgeo4w/nsis/
ms-windows/osgeo4w/packages-x86/
ms-windows/osgeo4w/packages-x86_64/
ms-windows/osgeo4w/unpacked/
ms-windows/osgeo4w/untgz/
ms-windows/packages/
ms-windows/progs/
ms-windows/untgz/
python/expressions/
python/plugins/grassprovider/description/algorithms.json
python/plugins/grassprovider/tests/testdata/directions.tif.aux.xml
python/plugins/processing/tests/testdata/*.aux.xml
python/plugins/processing/tests/testdata/custom/*.aux.xml
python/plugins/processing/tests/testdata/custom/grass7/*.aux.xml
python/plugins/processing/tests/testdata/dem.prj
python/plugins/processing/tests/testdata/dem.tfw
python/plugins/processing/tests/testdata/dem.wld
qgis-test.ctest
qgis.kdev4
qgis.supp
qtcreator-build/
resources/themes/*/style.qss.auto
resources/server/src/landingpage/node_modules/
scripts/Debug
scripts/RelWithDebInfo
scripts/astyle.exe
scripts/qgisstyle*
src/core/qgsexpression_texts.cpp
tags
tests/testdata/*.aux.xml
tests/testdata/cache/
tests/testdata/checker360by180.asc.aux.xml
tests/testdata/control_images/*/*.aux.xml
tests/testdata/dPAOWM_styles.db
tests/testdata/grass/wgs84/test/.gislock
tests/testdata/grass/wgs84/test6/.gislock
tests/testdata/grass/wgs84/test7/.gislock
tests/testdata/landsat-int16-b1.tif.aux.xml
tests/testdata/mGuhmd_styles.db
tests/testdata/mesh/trap_steady_05_3D.nc.aux.xml
tests/testdata/oOQkbL_styles.db
tests/testdata/point_clouds/las/cloud.copc.laz
tests/testdata/project_translation/points_translation_de_attachments.zip
tests/testdata/qgstestproject_relative_path_test.qgs
tests/testdata/qgstestproject_relative_path_test_attachments.zip
tests/testdata/rKinSs_styles.db
tests/testdata/raster/*.aux.xml
tests/testdata/raster/band1_byte_noct_epsg4326.tif.aux.xml
tests/testdata/raster/band1_float32_noct_epsg4326.tif.aux.xml
tests/testdata/raster/band1_int16_noct_epsg4326.tif.aux.xml
tests/testdata/raster/band3_float32_noct_epsg4326.tif.aux.xml
tests/testdata/raster/band3_int16_noct_epsg4326.tif.aux.xml
tests/testdata/tenbytenraster.asc.aux.xml
tests/testdata/test_plugin_path/plugin_started.txt
tests/testdata/test_qgis_config_path/profiles/default/*
!tests/testdata/test_qgis_config_path/profiles/default/python
tests/testdata/widget_config.qlr
tests/testdata/zip/testtar.tgz.properties
venv
