*.pyc
.DS_Store
Thumb.db
desktop.ini
*.*~
*~
*.diff
*.log*
*.prepare
debian/*.debhelper
debian/*.substvars
Makefile
*-stamp
api_doc
build*
ms-windows/Installer-Files/postinstall.bat
ms-windows/Installer-Files/preremove.bat
ms-windows/osgeo4w/packages/
ms-windows/osgeo4w/unpacked/
ms-windows/*Setup.exe
ms-windows/osgeo4w/nsis/
ms-windows/osgeo4w/untgz/
scripts/astyle
qtcreator-build/
ms-windows/nsis/
ms-windows/osgeo4w/addons/
ms-windows/packages/
ms-windows/osgeo4w/binary-*
ms-windows/progs/
ms-windows/untgz/
scripts/astyle.exe
# vim temporary files
.*.swp
*.aux
*.out
*.tex
*.toc
doc/CODING.html
doc/CODING.tex
doc/INSTALL.tex
scripts/Debug
scripts/RelWithDebInfo
/CMakeLists.txt.user
/CMakeLists.txt.user.*
qgis-test.ctest
i18n/*.qm
.project
.pydevproject
.idea
/python/plugins/sextante/resources_rc.py
/python/plugins/sextante/about/ui_aboutdialogbase.py
scripts/qgisstyle
