*.*~
*.autosave
*.aux
*.bak
*.diff
*.log*
*.orig
*.out
*.prepare
*.pyc
*.sortinc
*.tex
*.toc
*~
*-stamp
.*.swp
.DS_Store
.idea
.kdev4/
.project
.pydevproject
/CMakeLists.txt.user
/CMakeLists.txt.user.*
api_doc
build*
debian/*.debhelper
debian/*.substvars
desktop.ini
doc/INSTALL.tex
i18n/*.qm
Makefile
ms-windows/*.exe*
ms-windows/Installer-Files/postinstall.bat
ms-windows/Installer-Files/preremove.bat
ms-windows/nsis/
ms-windows/osgeo4w/addons/
ms-windows/osgeo4w/binary-*
ms-windows/osgeo4w/nsis/
ms-windows/osgeo4w/packages-x86/
ms-windows/osgeo4w/packages-x86_64/
ms-windows/osgeo4w/unpacked/
ms-windows/osgeo4w/untgz/
ms-windows/packages/
ms-windows/progs/
ms-windows/untgz/
qgis.kdev4
qgis.supp
qgis-test.ctest
qtcreator-build/
scripts/astyle.exe
scripts/Debug
scripts/qgisstyle*
scripts/RelWithDebInfo
tests/testdata/cache/
tests/testdata/checker360by180.asc.aux.xml
tests/testdata/grass/wgs84/test/.gislock
tests/testdata/grass/wgs84/test6/.gislock
tests/testdata/grass/wgs84/test7/.gislock
tests/testdata/raster/band1_byte_noct_epsg4326.tif.aux.xml
tests/testdata/raster/band1_float32_noct_epsg4326.tif.aux.xml
tests/testdata/raster/band1_int16_noct_epsg4326.tif.aux.xml
tests/testdata/raster/band3_float32_noct_epsg4326.tif.aux.xml
tests/testdata/raster/band3_int16_noct_epsg4326.tif.aux.xml
Thumb.db
