Juergen E. Fischer  <fischer@linux-buechse.de>
Juergen E. Fischer  <jef@norbit.de>
Nathan Woodrow  <madmanwoo@gmail.com>
Nathan Woodrow  <woodrow.nathan@gmail.com>
Nathan Woodrow  <woo@woo-mint.(none)>
Marco Hugentobler   <marco@marco-laptop.(none)>
Marco Hugentobler   <marco.hugentobler@sourcepole.ch>
Marco Bernasocchi <marco@bernawebdesign.ch>
Marco Bernasocchi <<marco@placebo.(none)>
Marco Bernasocchi <marco@bernawebdesign.ch>
Marco Bernasocchi <marco@bernawebdesign.ch>
Gary Sherman    <gsherman@geoapt.com>
Gary Sherman    <gsherman@c8812cc2-4d05-0410-92ff-de0c093fc19c>
