Alessandro Pasotti <elpaso@itopen.it> <apasotti@boundlessgeo.com>
Alessandro Pasotti <elpaso@itopen.it> <apasotti@gmail.com>
Alessandro Pasotti <elpaso@itopen.it> <apasottis@boundlessgeo.com>
Alessandro Pasotti <elpaso@itopen.it> elpaso <elpaso@itopen.it>

Alexander Bruy <alexander.bruy@gmail.com>
Alexander Bruy <alexander.bruy@gmail.com> <alexbruy@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Alexander Bruy <alexander.bruy@gmail.com> <alexander.bruy@gmail.com@881b9c09-3ef8-f3c2-ec3d-21d735c97f4d>

Alexandre Neto <senhor.neto@gmail.com> Alexandre <senhor.neto@gmail.com>
Alexandre Neto <senhor.neto@gmail.com> SrNetoChan <senhor.neto@gmail.com>

Alex <roya0045@users.noreply.github.com> roya0045 <roya0045@users.noreply.github.com>

Alister Hood <alister.hood@gmail.com> Alister <alister.hood@gmail.com>
Alister Hood <alister.hood@gmail.com> Alister <alister.hood@synergine.com>
Alister Hood <alister.hood@gmail.com> AlisterH <alister.hood@gmail.com>

Andreas Neumann <a.neumann@carto.net> andreasneumann <a.neumann@carto.net>

Anita Graser <anitagraser@gmx.at> anitagraser <anitagraser@gmx.at>

Arnaud Morvan <arnaud.morvan@camptocamp.com> arnaud.morvan@camptocamp.com <arnaud.morvan@camptocamp.com>

Asger Skovbo Petersen <asgerpetersen@gmail.com> AsgerPetersen <asgerpetersen@gmail.com>

Borys Jurgiel <info@borysjurgiel.pl> borys <info@borysjurgiel.pl>
Borys Jurgiel <info@borysjurgiel.pl> <info at borysjurgiel dot pl>
Borys Jurgiel <info@borysjurgiel.pl> borysiasty <borysiasty@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Clemens Raffler <clemens.raffler@gmail.com> <root676@users.noreply.github.com>
Clemens Raffler <clemens.raffler@gmail.com> root676 <clemens.raffler@gmail.com>
Clemens Raffler <clemens.raffler@gmail.com> root676 <clemens.raffler@gmx.at>

D'Hont René-Luc <rldhont@gmail.com>

Damiano Lombardi <damiano@opengis.ch> Damiano <damiano@opengis.ch>
Damiano Lombardi <damiano@opengis.ch> Damiano <lombardi.damiano@gmail.com>
Damiano Lombardi <damiano@opengis.ch> <lombardi@customcut.ch>
Damiano Lombardi <damiano@opengis.ch> <lombardi.damiano@gmail.com>
Damiano Lombardi <damiano@opengis.ch> domi <lombardi@customcut.ch>

David Marteau <dmarteau@3liz.com> <david@innophi.com>
David Marteau <dmarteau@3liz.com> <dhmarteau@gmail.com>

David Signer <david@opengis.ch> David <david@opengis.ch>
David Signer <david@opengis.ch> signedav <david@opengis.ch>

Etienne Trimaille <etienne.trimaille@gmail.com> <etienne@Etiennes-MacBook-Pro.local>
Etienne Trimaille <etienne.trimaille@gmail.com> <gustrimaille@yahoo.fr>
Etienne Trimaille <etienne.trimaille@gmail.com> Étienne Trimaille <gustrimaille@yahoo.fr>

Even Rouault <even.rouault@spatialys.com> <even.rouault@mines-paris.org>

Francisco Raga <All4Gis@users.noreply.github.com> Fran Raga <All4Gis@users.noreply.github.com>

Gary Sherman <gsherman@geoapt.com> <gsherman@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Germán Carrillo <gcarrillo@linuxmail.org> gacarrillor <gcarrillo@linuxmail.org>
Germán Carrillo <gcarrillo@linuxmail.org> gacarrillor <geotux_tuxman@linuxmail.org>
Germán Carrillo <gcarrillo@linuxmail.org> <geotux_tuxman@linuxmail.org>
Germán Carrillo <gcarrillo@linuxmail.org> Germán <geotux_tuxman@linuxmail.org>
Germán Carrillo <gcarrillo@linuxmail.org> Germap <gcarrillo@linuxmail.org>

Giovanni Allegri <giovanni.allegri@gmail.com> giohappy <giohappy@gmail.com>

Giovanni Manghi <giovanni.manghi@naturalgis.pt> gioman <giovanni.manghi@faunalia.pt>
Giovanni Manghi <giovanni.manghi@naturalgis.pt> <gio@sibirica.(none)>
Giovanni Manghi <giovanni.manghi@naturalgis.pt> <giovanni.manghi@faunalia.pt>
Giovanni Manghi <giovanni.manghi@naturalgis.pt> Giovanni Manghi <giovanni@sibirica.(none)>

Giuseppe Sucameli <brush.tyler@gmail.com> <brushtyler@881b9c09-3ef8-f3c2-ec3d-21d735c97f4d>
Giuseppe Sucameli <brush.tyler@gmail.com> <brushtyler@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Harrissou Sant-anna <delazj@gmail.com> DelazJ <delazj@gmail.com>

Ivan Ivanov <ivan.ivanov@suricactus.com> <suricactus@users.noreply.github.com>

Jacky Volpes <jacky.volpes@oslandia.com> <34267385+Djedouas@users.noreply.github.com>

Jean-Roc Morreale <jr.morreale@enoreth.net> Jean Roc <jr.morreale@enoreth.net>
Jean-Roc Morreale <jr.morreale@enoreth.net> MORREALE Jean-Roc <jr.morreale@enoreth.net>

Jorge Gustavo Rocha <jgr@geomaster.pt> <jgr@di.uminho.pt>

Julien Cabieces <julien.cabieces@oslandia.com> <julien@julien-laptop.home>

Jürgen E. Fischer <jef@norbit.de>
Jürgen E. Fischer <jef@norbit.de> <fischer@linux-buechse.de>
Jürgen E. Fischer <jef@norbit.de> <jef@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Jürgen E. Fischer <jef@norbit.de> <jef@FARAMIR>
Jürgen E. Fischer <jef@norbit.de> Juergen E. Fischer <jef@norbit.de>
Jürgen E. Fischer <jef@norbit.de> Juergen Fischer <jef@norbit.de>
Jürgen E. Fischer <jef@norbit.de> Jürgen Fischer <jef@norbit.de>

Larry Shaffer <lshaffer@federal.planet.com> <lshaffer@boundlessgeo.com>
Larry Shaffer <lshaffer@federal.planet.com> <dakcarto@users.noreply.github.com>
Larry Shaffer <lshaffer@federal.planet.com> <larrys@dakotacarto.com>

Loïc Bartoletti <loic.bartoletti@oslandia.com>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <l.bartoletti@free.fr>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <coder@tuxfamily.org>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <lbartoletti@tuxfamily.org>
Loïc Bartoletti <loic.bartoletti@oslandia.com> <lbartoletti@users.noreply.github.com>

Luigi Pirelli <luipir@gmail.com> luipir <luipir@gmail.com>

Marco Bernasocchi <marco@opengis.ch> <marco@bernawebdesign.ch>
Marco Bernasocchi <marco@opengis.ch> <marco@muse.(none)>
Marco Bernasocchi <marco@opengis.ch> <marco@placebo.(none)>

Marco Hugentobler <marco.hugentobler@sourcepole.ch> <marco@hugis1.(none)>
Marco Hugentobler <marco.hugentobler@sourcepole.ch> <marco@marco-laptop.(none)>
Marco Hugentobler <marco.hugentobler@sourcepole.ch> <marco@sourcepole.ch>
Marco Hugentobler <marco.hugentobler@sourcepole.ch> mhugent <marco.hugentobler@sourcepole.ch>
Marco Hugentobler <marco.hugentobler@sourcepole.ch> mhugent <mhugent@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Mario Baranzini <mario.baranzini@gmail.com> <mario@opengis.ch>
Mario Baranzini <mario.baranzini@gmail.com> <marioba@users.noreply.github.com>

Markus Neteler <neteler@gmail.com> <neteler@osgeo.org>
Markus Neteler <neteler@gmail.com> <neteler@oboe.localdomain>

Martin Dobias <wonder.sk@gmail.com> <wonder@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Mathieu Pellerin <nirvn.asia@gmail.com>

Matteo Ghetta <matteo.ghetta@gmail.com> ghtmtt <matteo.ghetta@gmail.com>
Matteo Ghetta <matteo.ghetta@gmail.com> matteo <matteo.ghetta@gmail.com>
Matteo Ghetta <matteo.ghetta@gmail.com> Matteo <matteo.ghetta@gmail.com>

Matthias Kuhn <matthias@opengis.ch> <matthias.kuhn@gmx.ch>
Matthias Kuhn <matthias@opengis.ch> <kk@kk-office.gslwd>
Matthias Kuhn <matthias@opengis.ch> matthias-kuhn <matthias.kuhn@gmx.ch>

Nathan Woodrow <madmanwoo@gmail.com> Nathan <nathan_woodrow@technologyonecorp.com>
Nathan Woodrow <madmanwoo@gmail.com> <nathan.woodrow@mapsolutions.com.au>
Nathan Woodrow <madmanwoo@gmail.com> <nathan_woodrow@technologyonecorp.com>
Nathan Woodrow <madmanwoo@gmail.com> <woodrow.nathan@gmail.com>
Nathan Woodrow <madmanwoo@gmail.com> <woo@woo-mint.(none)>

Nedjima Belgacem <gb_nedjima@esi.dz> NEDJIMAbelgacem <gb_nedjima@esi.dz>
Nedjima Belgacem <gb_nedjima@esi.dz> nedjima <gb_nedjima@esi.dz>
Nedjima Belgacem <gb_nedjima@esi.dz> Belgacem <gb_nedjima@esi.dz>

Nicolas Godet <nicolas.godet@outlook.fr> nicogodet <39594821+nicogodet@users.noreply.github.com>
Nicolas Godet <nicolas.godet@outlook.fr> nicogodet <nicolas.godet@outlook.fr>
Nicolas Godet <nicolas.godet@outlook.fr> <39594821+nicogodet@users.noreply.github.com>

Nyall Dawson <nyall.dawson@gmail.com> nyalldawson <nyall.dawson@gmail.com>
Nyall Dawson <nyall.dawson@gmail.com> <nyall@localhost.localdomain>
Nyall Dawson <nyall.dawson@gmail.com> Nyall <nyall.dawson@gmail.com>

Olivier Dalang <olivier.dalang@gmail.com> olivierdalang <olivier.dalang@epfl.ch>
Olivier Dalang <olivier.dalang@gmail.com> olivierdalang <olivier.dalang@gmail.com>
Olivier Dalang <olivier.dalang@gmail.com> olivier <olivier.dalang@gmail.com>

Otto Dassau <dassau@gbd-consult.de> dassau <dassau@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Otto Dassau <dassau@gbd-consult.de> dassau <dassau@gbd-consult.de>

Paolo Cavallini <cavallini@faunalia.it>
Paolo Cavallini <cavallini@faunalia.it> <pcav@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Paul Blottiere <blottiere.paul@gmail.com> Blottiere Paul <blottiere.paul@gmail.com>

Peter Petrik <zilolv@gmail.com> PeterPetrik <zilolv@gmail.com>

Radim Blazek <radim.blazek@gmail.com> <rblazek@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Raymond Nijssen <r.nijssen@terglobo.nl> raymondnijssen <r.nijssen@terglobo.nl>

Régis Haubourg <regis@qgis.org> <regis.haubourg@eau-adour-garonne.fr>
Régis Haubourg <regis@qgis.org> <regis.haubourg@oslandia.com>

Richard Duivenvoorde <richard@duif.net> rduivenvoorde <rduivenvoorde@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Richard Duivenvoorde <richard@duif.net> <rdmailings@duif.net>

Saber <saber.razmjooei@lutraconsulting.co.uk> Lutra <saber.razmjooei@lutraconsulting.co.uk>
Saber <saber.razmjooei@lutraconsulting.co.uk> saber <saber.razmjooei@lutraconsulting.co.uk>
Saber <saber.razmjooei@lutraconsulting.co.uk> Sab <saber.razmjooei@lutraconsulting.co.uk>

Salvatore Fiandaca <pigrecoinfinito@gmail.com> Salvatore <pigrecoinfinito@gmail.com>

Salvatore Larosa <lrssvtml@gmail.com>

Samweli Mwakisambwe <samweli@kartoza.com> <smwltwesa6@gmail.com>
Samweli Mwakisambwe <samweli@kartoza.com> Samweli <samweli@kartoza.com>
Samweli Mwakisambwe <samweli@kartoza.com> Samweli <smwltwesa6@gmail.com>

Sandro Santilli <strk@kbt.io> <strk@keybit.net>

Stefanos Natsis <uclaros@gmail.com> <uclaros@debian-BULLSEYE-live-builder-AMD64>
Stefanos Natsis <uclaros@gmail.com> uclaros <Ucla ros 1>
Stefanos Natsis <uclaros@gmail.com> uclaros <uclaros@gmail.com>

Thomas Gratier <thomas_gratier@yahoo.fr> ThomasG77 <thomas_gratier@yahoo.fr>

Tim Sutton <tim@linfiniti.com> <tim@kartoza.com>
Tim Sutton <tim@linfiniti.com> <timlinux@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Tom Chadwin <tomchadwin@astuntechnology.com> <tom.chadwin@nnpa.org.uk>
Tom Chadwin <tomchadwin@astuntechnology.com> <tomchadwin@users.noreply.github.com>

Tomas Mizera <tomas.mizera@lutraconsulting.co.uk> tomasMizera <tomas.mizera2@gmail.com>
Tomas Mizera <tomas.mizera@lutraconsulting.co.uk> <tomas.mizera2@gmail.com>
Tomas Mizera <tomas.mizera@lutraconsulting.co.uk> tomasMizera <tomas.mizera@lutraconsulting.co.uk>

Tudor Bărăscu <tudor.barascu@qtibia.ro> Tudor Barascu <tudor.barascu@qtibia.ro>

Víctor Olaya <volayaf@gmail.com>
Víctor Olaya <volayaf@gmail.com> <volayaf@881b9c09-3ef8-f3c2-ec3d-21d735c97f4d>
Víctor Olaya <volayaf@gmail.com> <volayaf@gmail.com@881b9c09-3ef8-f3c2-ec3d-21d735c97f4d>

Vincent Cloarec <vcloarec@gmail.com> vcloarec <vcloarec@gmail.com>

Werner Macho <werner.macho@gmail.com> macho <macho@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Werner Macho <werner.macho@gmail.com> <macho@void.(none)>

William Kyngesburye <kyngchaos@kyngchaos.com> kyngchaos <kyngchaos@c8812cc2-4d05-0410-92ff-de0c093fc19c>
William Kyngesburye <kyngchaos@kyngchaos.com> <kyngchaos@sumomo.attlocal.net>
William Kyngesburye <kyngchaos@kyngchaos.com> <kyngchaos@Sumomo.attlocal.net>

Yves Jacolin <yves.jacolin@camptocamp.com> Jacolin <yves.jacolin@camptocamp.com>
