Alessandro Pasotti <elpaso@itopen.it> <apasotti@boundlessgeo.com>
Alessandro Pasotti <elpaso@itopen.it> <apasotti@gmail.com>
Alessandro Pasotti <elpaso@itopen.it> <apasottis@boundlessgeo.com>

Alexander Bruy <alexander.bruy@gmail.com>
Alexander Bruy <alexander.bruy@gmail.com> <alexbruy@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Alexander Bruy <alexander.bruy@gmail.com> <alexander.bruy@gmail.com@881b9c09-3ef8-f3c2-ec3d-21d735c97f4d>

D'Hont René-Luc <rldhont@gmail.com>

Even Rouault <even.rouault@spatialys.com> <even.rouault@mines-paris.org>

Gary Sherman <gsherman@geoapt.com> <gsherman@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Giuseppe Sucameli <brush.tyler@gmail.com> <brushtyler@881b9c09-3ef8-f3c2-ec3d-21d735c97f4d>
Giuseppe Sucameli <brush.tyler@gmail.com> <brushtyler@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Jürgen E. Fischer <jef@norbit.de>
Jürgen E. Fischer <jef@norbit.de> <fischer@linux-buechse.de>
Jürgen E. Fischer <jef@norbit.de> <jef@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Jürgen E. Fischer <jef@norbit.de> <jef@FARAMIR>
Jürgen E. Fischer <jef@norbit.de> Juergen E. Fischer <jef@norbit.de>
Jürgen E. Fischer <jef@norbit.de> Juergen Fischer <jef@norbit.de>
Jürgen E. Fischer <jef@norbit.de> Jürgen Fischer <jef@norbit.de>

Larry Shaffer <lshaffer@boundlessgeo.com> <dakcarto@users.noreply.github.com>
Larry Shaffer <lshaffer@boundlessgeo.com> <larrys@dakotacarto.com>

Marco Bernasocchi <marco@opengis.ch> <marco@bernawebdesign.ch>
Marco Bernasocchi <marco@opengis.ch> <marco@muse.(none)>
Marco Bernasocchi <marco@opengis.ch> <marco@placebo.(none)>

Marco Hugentobler <marco.hugentobler@sourcepole.ch> <marco@hugis1.(none)>
Marco Hugentobler <marco.hugentobler@sourcepole.ch> <marco@marco-laptop.(none)>
Marco Hugentobler <marco.hugentobler@sourcepole.ch> <marco@sourcepole.ch>
Marco Hugentobler <marco.hugentobler@sourcepole.ch> mhugent <marco.hugentobler@sourcepole.ch>
Marco Hugentobler <marco.hugentobler@sourcepole.ch> mhugent <mhugent@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Martin Dobias <wonder.sk@gmail.com> <wonder@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Mathieu Pellerin <nirvn.asia@gmail.com>

Matthias Kuhn <matthias@opengis.ch> <matthias.kuhn@gmx.ch>
Matthias Kuhn <matthias@opengis.ch> <kk@kk-office.gslwd>
Matthias Kuhn <matthias@opengis.ch> matthias-kuhn <matthias.kuhn@gmx.ch>

Nathan Woodrow <madmanwoo@gmail.com> Nathan <nathan_woodrow@technologyonecorp.com>
Nathan Woodrow <madmanwoo@gmail.com> <nathan.woodrow@mapsolutions.com.au>
Nathan Woodrow <madmanwoo@gmail.com> <nathan_woodrow@technologyonecorp.com>
Nathan Woodrow <madmanwoo@gmail.com> <woodrow.nathan@gmail.com>
Nathan Woodrow <madmanwoo@gmail.com> <woo@woo-mint.(none)>

Paolo Cavallini <cavallini@faunalia.it>
Paolo Cavallini <cavallini@faunalia.it> <pcav@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Radim Blazek <radim.blazek@gmail.com> <rblazek@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Salvatore Larosa <lrssvtml@gmail.com>

Sandro Santilli <strk@kbt.io> <strk@keybit.net>

Tim Sutton <tim@linfiniti.com> <tim@kartoza.com>
Tim Sutton <tim@linfiniti.com> <timlinux@c8812cc2-4d05-0410-92ff-de0c093fc19c>

Víctor Olaya <volayaf@gmail.com>
Víctor Olaya <volayaf@gmail.com> <volayaf@881b9c09-3ef8-f3c2-ec3d-21d735c97f4d>
Víctor Olaya <volayaf@gmail.com> <volayaf@gmail.com@881b9c09-3ef8-f3c2-ec3d-21d735c97f4d>

Werner Macho <werner.macho@gmail.com> macho <macho@c8812cc2-4d05-0410-92ff-de0c093fc19c>
Werner Macho <werner.macho@gmail.com> <macho@void.(none)>
