#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks	{
	display: none;
	}
body.docs div.docs	{
	margin: 0 !important;
	border: none !important
	}

/* just to be sure */
#navcolumn {
 width: 0px;
}

#leftcol {
 width: 0px;
}
