// sources to moc

QTMOC_CORE = qgscontexthelp qgscoordinatetransform qgsdataprovider qgshttptransaction qgsmaplayer qgsmaplayerregistry qgsmaprenderer qgsmessageoutput qgsproject qgsrasterdataprovider qgsrunprocess qgsvectorlayer qgsapplication

QTMOC_COMPOSER = qgscomposeritemgroup qgscomposerlegend qgscomposermap qgscomposerpicture qgscomposerscalebar qgslegendmodel

QTMOC_RASTER = qgsrasterlayer

QTMOC_GUI = qgisinterface qgscomposerview qgsdetaileditemdelegate qgsdetaileditemwidget qgsencodingfiledialog qgsgenericprojectionselector qgsmapcanvas qgsmapoverviewcanvas qgsmaptoolemitpoint qgsmessageviewer qgsprojectionselector qgsquickprint

QTMOC_APP = qgisapp qgisappinterface qgsabout qgsaddattrdialog qgsattributeactiondialog qgsattributedialog qgsattributetabledisplay qgsattributetable qgsbookmarks qgscontinuouscolordialog qgscustomprojectiondialog qgsdbsourceselect qgsdelattrdialog qgsgeomtypedialog qgsgraduatedsymboldialog qgshelpviewer qgsidentifyresults qgslabeldialog qgsludialog qgsmaptoolidentify qgsmaptoolsplitfeatures qgsmaptoolvertexedit qgsmeasuretool qgsmeasuredialog qgsnewconnection qgsnewhttpconnection qgsoptions qgspastetransformations qgspgquerybuilder qgspluginmanager qgspythondialog qgsprojectproperties qgsrasterlayerproperties qgssearchquerybuilder qgsserversourceselect qgssinglesymboldialog qgssnappingdialog qgsuniquevaluedialog qgsvectorlayerproperties qgsdbtablemodel qgsmaptooladdfeature qgsmaptooladdisland qgsmaptooladdring qgsmaptoolmovefeature qgsmaptoolselect qgsogrsublayersdialog

QTMOC_APP_COMPOSER = qgscomposer qgscomposeritemwidget qgscomposerlabelwidget qgscomposerlegendwidget qgscomposermapwidget qgscomposerpicturewidget qgscomposerscalebarwidget qgscompositionwidget qgsitempositiondialog

QTMOC_APP_LEGEND = qgslegend qgslegendlayer qgslegendlayerfile
