// QGIS Xcode project common build settings

// CURRENT_PROJECT_VERSION = 2.6.1

//////////////////////////////////////////////////////////////////////
// duplicate this file as qgis_user.xcconfig.
// uncomment settings in qgis_user.xcconfig to override defaults
//   in qgis_settings.xcconfig.
// commented values values shown here are defaults
// there is no need to set *everything* here.

// SDKSYS must be set to valid value
//SDKSYS = leo // tig (Tiger), leo (Leopard), snow (Snow Leopard)

// default to native; space-separated list, ppc i386 ppc64 x86_64
//ARCHS = $(UNIVERSAL) // use this for universal multiarch build

// python archs, default same as ARCHS, must match what's in ARCHS
// use ; separator
//ARCHS_P = $(UNIVERSAL_P) // use this for universal multiarch build

//////////////////////////////////////////////////////////////////////
// Qt and other support
//////////////////////////////////////////////////////////////////////

//QT_MVER = $(QT_VER_MAJOR)
//QT_VER_MAJOR = 4 // the install_name/major version
//QT_VER_MINOR = 6 // minor version, currently unused
//QT_FWVER = $(QT_VER_MAJOR) // the Versions/ folder name, normally same as Qt ver

//QT_DIR = /usr
// this is to enable Qt libs in /usr/lib (QtUiTools, QtCLucene) to work in SDKs
// -> create symlinks to these libs in /usr/local/lib
//QT_DIR_SDK = /usr/local
//QT_PREFIX_FW = /Library/Frameworks

//QT_PLUGINS_DIR = /Developer/Applications/Qt/plugins
//QTBIN = /Developer/Tools/Qt // bin dir
//PYQT4_VER_MAJOR = 4
//PYQT4_VER_MINOR = 7
//SIP_INC = /usr/local/include
//PYQT_SIP_DIR = /usr/local/share/sip/PyQt4
//PYQT_SIP_FLAGS = -x VendorID -t WS_MACX -x PyQt_NoPrintRangeBug -t Qt_$(QT_VER_MAJOR)_$(QT_VER_MINOR)_0 -x Py_v3 -g
// assume for now that PyQt 4.7 is at least 4.7.6, if 4.7.5 or earlier, uncomment following line:
//SIP_DISABLE_FEATURES_4_7 = 
//BISON = /usr/bin/bison // Tiger requires user-installed bison 2.3
//GPSBABEL = /usr/local/bin/gpsbabel

//////////////////////////////////////////////////////////////////////
// forms of some libraries
//   'fw' for framework
//   'shared' or 'static' for user unix builds
//   if unix, make sure to double-check that corresponding *_PREFIX_shared
//      value is correct (defaults usually /usr/local).
//      framework prefixes should not change.
//   some have alternate form choices
//      static vs. shared choices are always user unix libs
//////////////////////////////////////////////////////////////////////

//GDAL_FORM = fw // fw or shared
//PROJ_FORM = fw // fw or shared
//GEOS_FORM = fw // fw or shared

// SQLite and Spatialite tied together and use same setting
// system is sqlite-only
// fw, shared and internal enable both, so spatial MUST be available
//   (is avail for fw, use spatialite 2.3+ for shared sqlite+spatialite)
//SQLITE_FORM = fw // system, fw, shared or internal
// whether spatialite is built with GEOS and PROJ, only for external spatialite
// (must be same GEOS and PROJ used for Qgis)
//SPATIALITE_GEOS = yes
//SPATIALITE_PROJ = yes

//GSL_FORM = fw // fw, static or shared
//PGSQL_FORM = shared // static or shared
//FCGI_FORM = system // system (only Leo+), static or shared

// system expat only on Leopard+
//EXPAT_FORM = $(EXPAT_FORM_$(SDKSYS)) // static, shared or system

//GRASS_FORM = app // app or unix
// version as in app name or unix folder name, can't auto-detect here
//GRASS_VERSION = 6.4

// system Python only on Leopard+
//PYTHON_FORM = $(PYTHON_FORM_$(SDKSYS)) // fw, system or disabled
//PYTHON_VERSION = $(PYTHON_VERSION_$(SDKSYS))

// qwt can't be compiled into pyqwt as is the default with pyqwt
//QWT_FORM = shared // shared or static
//QWT_VERSION = 5.2.1-svn // default in pyqwt package

//////////////////////////////////////////////////////////////////////
// whether to bundle some external libs in the app package
//   some checking is done, so /Library frameworks (except Qt) and
//   /usr/lib libraries and /usr/bin progs won't be bundled
// bundling ignored for static libs
//////////////////////////////////////////////////////////////////////

//BUNDLE_PGSQL = YES
//BUNDLE_FCGI = YES
//BUNDLE_GPSBABEL = YES

// frameworks not bundled
//BUNDLE_GSL = YES
//BUNDLE_GDAL = YES
//BUNDLE_GEOS = YES
//BUNDLE_PROJ = YES
//BUNDLE_SQLITE = YES

//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////
//// above is the most that might need to be changed to handle    ////
//// most common cases                                            ////
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////
// locations of user forms of dependencies
//   only used when the _shared or _static form is used above
//   or always for some libraries
// shared and static use same prefix
//////////////////////////////////////////////////////////////////////

//GDAL_PREFIX = /usr/local
//PROJ_PREFIX = /usr/local
//GEOS_PREFIX = /usr/local

//GSL_PREFIX = /usr/local

// This must match exactly how GRASS was built and installed.
// If it was moved or renamed, qgis GRASS plugin will not work.
// Prefix is the equivalent of the GRASS GISBASE
//GRASS_PREFIX_app = /Applications/GRASS-$(GRASS_VERSION).app/Contents/MacOS
//GRASS_PREFIX_unix = /usr/local/grass-$(GRASS_VERSION)

//PYSITE_fw = $(PYTHON_PREFIX)/lib/python$(PYTHON_VERSION)/site-packages

//EXPAT_PREFIX = /usr/local // not used for system expat

//SQLITE_PREFIX = /usr/local

//PGSQL_PREFIX = /usr/local/pgsql
// used to link static libs, defaults based on kyngchaos dist
//PGSQL_LIBADD = -lintl -framework CoreFoundation -liconv -lxml2 -lssl -lcrypto -lpam -lkrb5 -lldap -lz

//FCGI_PREFIX = /usr/local

//QWT_PREFIX = /usr/local/qwt-$(QWT_VERSION)

//PYTHON_USRBIN = $(PYTHON_USRBIN_$(PYTHON_FORM)) // User-installed executables

//////////////////////////////////////////////////////////////////////
// do not change these unless you have a very odd layout for them
// or they just aren't coming out right in Xcode
//////////////////////////////////////////////////////////////////////

//GDAL_INC = $(GDAL_INC_$(GDAL_FORM))
//GDAL_LIB = $(GDAL_LIB_$(GDAL_FORM))

//PROJ_INC = $(PROJ_INC_$(PROJ_FORM))
//PROJ_LIB = $(PROJ_LIB_$(PROJ_FORM))

//GEOS_INC = $(GEOS_INC_$(GEOS_FORM))
//GEOS_LIB = $(GEOS_LIB_$(GEOS_FORM))

//GRASS_PREFIX = $(GRASS_PREFIX_$(GRASS_FORM))
//GRASS_INC = $(GRASS_PREFIX)/include $(GRASS_PREFIX)/include/grass
//GRASS_LIB = -L$(GRASS_PREFIX)/lib -lgrass_vect -lgrass_dig2 -lgrass_dbmiclient -lgrass_dbmibase -lgrass_shape -lgrass_dgl -lgrass_rtree -lgrass_gis -lgrass_datetime -lgrass_linkm -lgrass_form -lgrass_gproj
//GRASS_BASE = $(GRASS_PREFIX)

//EXPAT_INC = $(EXPAT_INC_$(EXPAT_FORM))
//EXPAT_LIB = $(EXPAT_LIB_$(EXPAT_FORM))

//GSL_INC = $(GSL_INC_$(GSL_FORM))
//GSL_LIB = $(GSL_LIB_$(GSL_FORM))

//PGSQL_INC = $(PGSQL_PREFIX)/include
//PGSQL_LIB = $(PGSQL_LIB_$(PGSQL_FORM))

//FCGI_INC = $(FCGI_INC_$(FCGI_FORM))
//FCGI_LIB = $(FCGI_LIB_$(FCGI_FORM))
//FCGI_DEFS = $(FCGI_DEFS_$(CONFIGURATION))

//SQLITE_INC = $(SQLITE_INC_$(SQLITE_FORM))
//SQLITE_LIB = $(SQLITE_LIB_$(SQLITE_FORM))
//SPATIALITE_LIBADD = $(GEOS_LIB) $(PROJ_LIB)

//QWT_INC = $(QWT_PREFIX)/include
//QWT_LIB = -L$(QWT_PREFIX)/lib -lqwt

//PYTHON_PREFIX = $(PYTHON_PREFIX_$(PYTHON_FORM))/Versions/$(PYTHON_VERSION)
//PYTHON_BIN = $(PYTHON_BIN_$(PYTHON_FORM)) // Python executables
//PYTHON_INC = $(PYTHON_PREFIX)/Headers
//PYTHON_LIB = -framework Python // must always be framework, full path will work
//PYSITE = $(PYSITE_$(PYTHON_FORM)) // site-packages
//PYTHON = $(PYTHON_PREFIX)/bin/python
