variables:
  LR: release-3_14
  LTR: release-3_10
  Agent.Source.Git.ShallowFetchDepth: 120

trigger:
  branches:
    include:
    - master
    - $(LR)
    - $(LTR)
    - azure-pipelines

pr:
- master
- $(LR)
- $(LTR)

jobs:
- job: OSGeo4W
  pool:
    vmImage: windows-latest
  timeoutInMinutes: 360

  strategy:
    maxParallel: 4
    matrix:
      x86:
         OSGEO4W_ARCH: x86
         OSGEO4W_ROOT: C:\OSGeo4W

      x86_64:
         OSGEO4W_ARCH: x86_64
         OSGEO4W_ROOT: C:\OSGeo4W64

  steps:
  - bash: |
      if [ "$BUILD_REASON" = "PullRequest" ]; then
        branch=$SYSTEM_PULLREQUEST_TARGETBRANCH
        pr=$SYSTEM_PULLREQUEST_PULLREQUESTNUMBER
      else
        branch=$BUILD_SOURCEBRANCHNAME
      fi

      echo "BRANCH: ${branch}"
      [ -n "$pr" ] && echo "PR: ${pr}"
      echo "LR: ${LR}"
      echo "LTR: ${LTR}"

      case "${branch}" in
      "${LTR}")
        OSGEO4W_PKG=qgis-ltr-dev
        OSGEO4W_DEPS=qgis-ltr-dev-deps
        ;;
      "${LR}")
        OSGEO4W_PKG=qgis-rel-dev
        OSGEO4W_DEPS=qgis-rel-dev-deps
        ;;
      *)
        OSGEO4W_PKG=qgis-dev
        OSGEO4W_DEPS=qgis-dev-deps
        ;;
      esac

      target=Experimental
      major=$(sed -ne 's/^SET(CPACK_PACKAGE_VERSION_MAJOR "\([0-9]*\)")\s*$/\1/p' CMakeLists.txt)
      minor=$(sed -ne 's/^SET(CPACK_PACKAGE_VERSION_MINOR "\([0-9]*\)")\s*$/\1/p' CMakeLists.txt)
      patch=$(sed -ne 's/^SET(CPACK_PACKAGE_VERSION_PATCH "\([0-9]*\)")\s*$/\1/p' CMakeLists.txt)
      version=$major.$minor.$patch
      sha="${BUILD_SOURCEVERSION:0:10}"

      if [ -z "$pr" ]; then
        binary=$(curl --location-trusted http://download.osgeo.org/osgeo4w/$OSGEO4W_ARCH/release/qgis/$OSGEO4W_PKG/LATEST.sha | sed -e "s/:.*$//")
        (( binary++ )) || true
        buildname="$OSGEO4W_PKG-$version-$sha-$target-VC16-$OSGEO4W_ARCH"
      else
        OSGEO4W_PKG="${OSGEO4W_PKG}-${pr}"
        buildname="PR $pr / $branch ($BUILD_BUILDID) ($sha) ($OSGEO4W_PKG $target $OSGEO4W_ARCH)"   # no colons allowed here
        binary=${BUILD_BUILDID}
      fi

      if [ "${BUILD_REPOSITORY_URI#https://github.com/}" != "qgis/QGIS" ]; then
        buildname="${BUILD_REPOSITORY_URI#https://github.com/}: $buildname"
      fi

      url=$buildname
      url=${url//(/%28}
      url=${url//)/%29}
      url=${url// /+}
      url="https://cdash.orfeo-toolbox.org/index.php?project=QGIS&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercombine=and&filtercount=4&showfilters=0&filtercombine=and&field1=buildname&compare1=61&value1=$url&field2=site&compare2=65&value2=azure-pipelines&field3=buildstarttime&compare3=83&value3=$(date +%Y-%m-%d --date=yesterday)&field4=buildstarttime&compare4=84&value4=$(date +%Y-%m-%d --date=tomorrow)"
      url=$(curl --data-urlencode "url=$url" -s http://tinyurl.com/api-create.php)

      echo "##vso[task.setvariable variable=TARGET]$target"
      echo "##vso[task.setvariable variable=OSGEO4W_PKG]$OSGEO4W_PKG"
      echo "##vso[task.setvariable variable=OSGEO4W_DEPS]$OSGEO4W_DEPS"
      echo "##vso[task.setvariable variable=MAJOR]$major"
      echo "##vso[task.setvariable variable=MINOR]$minor"
      echo "##vso[task.setvariable variable=PATCH]$patch"
      echo "##vso[task.setvariable variable=BINARY]$binary"
      echo "##vso[task.setvariable variable=VERSION]$version"
      echo "##vso[task.setvariable variable=BUILDNAME]$buildname"
      echo "##vso[task.setvariable variable=DASHURL]$url"
      echo "##vso[task.setvariable variable=CTEST_CUSTOM_TESTS_IGNORE]$(sed -r '/^(#.*?)?$/d' .ci/windows-blacklist.txt | paste -sd ';' -)"

    displayName: 'Setup build variables'

  - script: curl --output c:\setup-x86.exe https://cygwin.com/setup-x86.exe
    displayName: 'Download cygwin Installer'

  - script: curl --output c:\osgeo4w-setup.exe http://ftp.osuosl.org/pub/osgeo/download/osgeo4w/osgeo4w-setup-%OSGEO4W_ARCH%.exe
    displayName: 'Download OSGeo4W Installer'

  - script: curl --location-trusted --output c:\ninja.zip https://github.com/ninja-build/ninja/releases/download/v1.10.0/ninja-win.zip
    displayName: 'Download Ninja'

  - powershell: ms-windows/osgeo4w/runasadmin.ps1 c:\setup-x86.exe -qnNdO -R C:/cygwin -s http://cygwin.mirror.constant.com -l C:/temp/cygwin -P "bison,flex,git,poppler,doxygen,unzip"
    displayName: 'Installing cygwin'

  - powershell: ms-windows/osgeo4w/runasadmin.ps1 c:\osgeo4w-setup.exe --autoaccept --advanced --arch $env:OSGEO4W_ARCH --quiet-mode --upgrade-also --root $env:OSGEO4W_ROOT --only-site -s http://ftp.osuosl.org/pub/osgeo/download/osgeo4w -l c:\temp\osgeo4w -P $env:OSGEO4W_DEPS
    displayName: 'Installing OSGeo4W'

  - script: c:\cygwin\bin\unzip -o c:\ninja.zip -d %OSGEO4W_ROOT%\bin
    displayName: 'Extracting Ninja'

  - script: |
      rmdir /s /q c:\temp\cygwin
      rmdir /s /q c:\temp\osgeo4w
    displayName: 'Clear package caches'

  - bash: |
      echo "##[section]$BUILDNAME results available at $DASHURL"
    displayName: 'Link to test results'

  - script: |
      echo on
      PATH c:\cygwin\bin;%OSGEO4W_ROOT%\bin;%PATH%
      cd ms-windows\osgeo4w
      set OSGEO4W_CXXFLAGS=/MD /MP /Od /D NDEBUG
      package-nightly.cmd %VERSION% %BINARY% %OSGEO4W_PKG% %OSGEO4W_ARCH% %BUILD_SOURCEVERSION:~0,10% azure-pipelines
      if not errorlevel 1 if exist testfailure exit /b 1
    displayName: 'Building QGIS'

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: ms-windows/osgeo4w/$(OSGEO4W_ARCH)
      artifactName: OSGeo4W package $(OSGEO4W_ARCH)
    displayName: Upload osgeo4w package

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'cTest'
      testResultsFiles: 'ms-windows/osgeo4w/build-$(OSGEO4W_PKG)-$(OSGEO4W_ARCH)/Testing/*/Test.xml'
      failTaskOnFailedTests: true
    displayName: 'Publishing tests'

# vim: set nowrap :
