Package: qgis
Version: 0.0.13+cvs.20040108-1
Section: science
Priority: optional
Architecture: i386
Depends: libaudio2, libc6 (>= 2.3.2.ds1-4), libcfitsio2, libfontconfig1 (>= 2.2.1), libfreetype6 (>= 2.1.5-1), libgcc1 (>= 1:3.3.2-1), libgdal1, libhdf4g (>= 4.1r4), libjpeg62, libltdl3 (>= 1.5-3), libpng12-0 (>= 1.2.5.0-4), libpq3 (>= 7.3.1), libqt3c102-mt (>= 3:3.2.1), libstdc++5 (>= 1:3.3.2-1), libungif4g (>= 4.1.0b1), libxcursor1, libxerces21c102, libxft2 (>> 2.1.1), libxrender1, unixodbc, xlibmesa3-gl | libgl1, xlibs (>> 4.1.0), zlib1g (>= 1:1.2.1)
Installed-Size: 638
Maintainer: Steve Halasz <debian@adkgis.org>
Description: Geographic Information System (GIS)
 A Geographic Information System (GIS) manages,
 analyzes, and displays databases of geographic
 information. Quantum GIS (QGIS) supports shapefile
 viewing, feature identification, and attribute
 table display. It also supports viewing of GeoTIFF
 raster images.
