Source: qgis
Section: science
Priority: extra
Maintainer: Steve Halasz <debian@adkgis.org>
Build-Depends: debhelper (>= 4.0.0), libgdal1-dev (>= 1.2.6-1), libqt3-mt-dev (>= 3:3.2.1-6), libqt3-compat-headers (>= 3:3.2.3-2), libcfitsio-dev (>= 2.460-1), postgresql-dev (>= 7.3.4-9), libhdf4g-dev (>= 4.1r4-17), libungif4-dev (>= 4.1.0b1-6), unixodbc-dev (>= 2.2.4-6), libxerces26-dev (>= 2.1.0-5), libjasper-1.701-dev (>= 1.701.0-2), libtiff4-dev (>= 3.6.1-1.1), netcdfg-dev (>= 3.5.0-7.1), libgeos-dev (>= 2.0.1-1), dpatch, libgrass-dev (>= 6.0.0-1), libsqlite3-dev, libgsl0-dev, proj
Standards-Version: 3.6.1

Package: qgis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: qgis-plugin-grass
Description: Geographic Information System (GIS)
 A Geographic Information System (GIS) manages,
 analyzes, and displays databases of geographic
 information. Quantum GIS (QGIS) supports shapefile
 viewing and editing, spatial data storage with
 PostgreSQL/PostGIS, projection on-the-fly, map
 composition, and a number of other features via
 a plugin interface. QGIS also supports display
 of various georeferenced raster and Digital
 Elevation Model (DEM) formats including
 GeoTIFF, Arc/Info ASCII Grid, and USGS ASCII DEM.

Package: qgis-dev
Architecture: any
Depends: qgis (= ${Source-Version}), libgdal1-dev (>= 1.2.6-1), libqt3-mt-dev (>= 3:3.2.1-6), libqt3-compat-headers (>= 3:3.2.3-2), libcfitsio-dev (>= 2.460-1), postgresql-dev (>= 7.3.4-9), libhdf4g-dev (>= 4.1r4-17), libungif4-dev (>= 4.1.0b1-6), unixodbc-dev (>= 2.2.4-6), libxerces26-dev (>= 2.1.0-5), libjasper-1.701-dev (>= 1.701.0-2), libtiff4-dev (>= 3.6.1-1.1), netcdfg-dev (>= 3.5.0-7.1), libgeos-dev (>= 2.0.1-1), libgrass-dev (>= 6.0.0-1), libsqlite3-dev, libgsl0-dev, proj
Suggests: qt3-designer
Description: QGIS Geographic Information System - development files
 QGIS is a Geographic Information System (GIS)
 which manages, analyzes and display databases of
 geographic information.
 .
 This package contains the headers and libraries
 needed to develop plugins for QGIS.

Package: qgis-plugin-grass
Architecture: any
Depends: qgis (= ${Source-Version}), libgdal1-grass (>= 1.2.6-0)
Description: Plugin for accessing GRASS vectors from QGIS
 This plugin enables display of GRASS vectors in the QGIS
 geographic data viewer.
