[Desktop Entry]
Type=MimeType
MimeType=application/x-esri-crs
Hidden=false
Comment=ESRI coordinate reference system
Comment[de]=ESRI-Koordinatenbezugssystem
Icon=qgis-mime
Patterns=*.prj;
