[Desktop Entry]
Type=MimeType
MimeType=application/x-mapinfo-mif
Hidden=false
Comment=MapInfo file
Comment[de]=MapInfo-Datei
Patterns=*.mif;
Icon=qgis-mime-icon
X-KDE-PatternsAccuracy=60
