[Desktop Entry]
Type=MimeType
MimeType=application/x-qgis-layer-settings
Hidden=false
Comment=QGIS layer settings
Comment[de]=QGIS Layer Einstellungen
Icon=qgis-mime
Patterns=*.qml;
