[Desktop Entry]
Type=MimeType
MimeType=application/x-qgis-layer-settings
Hidden=false
Comment=Quantum GIS layer settings
Comment[de]=Quantum GIS Layer Einstellungen
Icon=qgis-mime-icon
Patterns=*.qml;
