[Desktop Entry]
Type=MimeType
MimeType=application/x-qgis-project
Hidden=false
Comment=QGIS Project
Comment[de]=QGIS-Projekt
Patterns=*.qgs;
Icon=qgis-mime
X-KDE-IsAlso=application/x-qgis
