[Desktop Entry]
Type=MimeType
MimeType=application/x-raster-aig
Hidden=false
Comment=AIG raster data
Comment[de]=AIG-Rasterdaten
Icon=qgis-mime-icon
Patterns=*.aig;
