[Desktop Entry]
Type=MimeType
MimeType=application/x-raster-ecw
Hidden=false
Comment=ECW raster data
Comment[de]=ECW-Rasterdaten
Icon=qgis-mime-icon
Patterns=*.ecw;
