name: Pyflakes

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Flake8
      uses: cclauss/GitHub-Action-for-Flake8@v0.5.0
